<%-     include('partials/header2');    -%>
   
<body>
  <div class="sidebar">
    <div class="logo-details">
        <i class='bx bx-list-ul' ></i>
      <span class="logo_name">Dashboard</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="#" class="active">
            <i class='bx bx-user'></i>
           <span class="links_name employees" id="employees">Employees</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bxs-rocket' ></i>
            <span class="links_name" id="leaves">Leaves</span>
          </a>
        </li>
        

       <li class="log_out">
          <a href="#">
            <i class='bx bx-log-out'></i>
            <span class="links_name" class="log_out" onclick="logout()">Log out</span>
          </a>
        </li>

    

      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search' ></i>
      </div>
      <div class="profile-details">
        <img src="/admin.jpg" alt="">
        <span class="admin_name">Anjali</span>

      </div>
    </nav>

    <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic"><h1>Welcome</h1></div>
            <div class="indicator">
              <!-- <i class='bx bx-up-arrow-alt'></i> -->
              <!-- <span class="text"><h2>Admin</h2></span> -->
            </div>
          </div>
          <!-- <i class='bx bx-cart-alt cart'></i> -->
        </div>
      </div>
    </div>
  </section>

  <script>
let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}

  document.getElementById("employees").addEventListener("click",emp);

  function emp(){
     location.assign("/manage-emp")
  }

  document.getElementById("leaves").addEventListener("click",leaves);

  function leaves(){
    location.assign("/manage-leaves");
  }


  // document.querySelector("log_out").addEventListener("click", logout);
  async function logout(){
    location.assign("/admin-logout");
    // console.log("logged out");

  };




  // document.getElementById("log_out").onclick = function() {logout()};
  // async function logout(req,res) {
  //   res.clearCookie("jwt", "");
  //   res.redirect("/admin-login");
  //   console.log("logged out");
  // }

  // const logout = async (req, res, next) => {
  // res.clearCookie("jwt");
  // res.redirect("/admin-login");
  // console.log("logged out");
  //   };

 </script>

</body>
</html>

