
<%-        include("partials/header3");         -%>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bx-podcast'></i>
      <span class="logo_name">User</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="#" class="active">
            <i class='bx bxs-rocket' ></i>
            <span class="links_name">Apply for Leave</span>
          </a>
        </li>
        <li>

        <li class="log_out">
          <a href="#">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Leaves Listing</span>
      </div>
    
      <!-- <div class="profile-details">
        <img src="../public/admin.jpg" alt="">
        <span class="admin_name">Anjali</span>

      </div> -->
    </nav>

    <div class="home-content">
      <div class="overview-boxes">
        
        <!-- <div class="box"> -->
          <!-- <div class="left-side">  -->
            <!-- <div class="box-topic">Total Leaves</div> -->
            <!-- <div class="number">20</div>  -->
            <!-- <div class="indicator"> -->
              <!-- <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Up from yesterday</span> -->
            <!-- </div> -->
          <!-- </div> -->
          <!-- <i class='bx bxs-cart-add cart two' ></i> -->
        <!-- </div> -->
       
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Apply for Leave</div>
            <!-- <div class="number">11,086</div> -->
            <!--  <div class="indicator"> -->
              <!-- <i class='bx bx-add-to-queue'></i> -->
              <!-- <span class="text">Down From Today</span> -->
            <!-- </div> --> 
          </div>
          <button id="add_leaves"><a href="#" style="font-size:37px;"><i class='bx bx-add-to-queue'></i></a></button>
        </div>
      </div>

      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">My Leaves
            <i class='bx bx-notepad'></i>
          </div>
          
          <div class="sales-details">
           
            <table style="width:100%">
              <tr>
                <div class="sales-details">
              <!-- <th> <ul class="details">
                <li class="topic">Sr.No.</li>
                <li><a href="#">|</a></li>
              </ul></th> -->

                <th><ul class="details">
                  <li class="topic">From</li>
                </ul></th>
    
                <th><ul class="details">
                  <li class="topic">To</li>
                </ul></th>

                <th><ul class="details">
                  <li class="topic">Reason for leave</li>
                </ul></th>

                <th><ul class="details">
                  <li class="topic">Status</li>
                </ul></th>
               </div>
              </tr>
        
              <div class="sales-details">
                <tr>
              
                <% for(var i=0; i < leave.length; i++) { %>
                <div class="sales-details">

                <th><ul class="details">
                  <li><a href="#"><%= leave[i].from %></a></li>
                </ul></th>
            
                <th><ul class="details">
                  <li><a href="#"><%= leave[i].to %></a></li>
                </ul></th>
          
                <th><ul class="details">
                  <li><a href="#"><%= leave[i].reason_for_leave %></a></li>
                </ul></th>

               </tr>
              </div>
            </div>
              <% } %>
        

        </table>
  
          </div>
          <!-- <div class="button">
            <a href="#">See All</a>
          </div> -->
        </div>
        
        </div>
      </div>
    </div>
  </section>

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}


document.getElementById("add_leaves").addEventListener("click",addLeaves);
function addLeaves(){
  location.assign("/applyleaveform");
}


 </script>

</body>
</html>

